* {
    box-sizing: border-box;
    font-family: Inter, Roboto;
    font-size: 16px;
}
body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    background-color: #7413dc;
    height: 440px;
    padding: 20px 60px 60px 50px;
    width: 100%;
}
#informationContainer {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: flex-end; 
    margin-right: 40px;
     
}
#informationContainer a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-right: 40px;
}
.infoList {
    display: flex;
    gap: 5px;
}
.infoItem {
    margin-right: 40px;
}
.chooseLanguage {
    align-items: center;
    display: flex;
    gap: 5px;
}

.settings {
    display: flex;
    flex-direction: column;
}
.settings h1{
    align-items: flex-start;
    color: #ffb6ff;
    display: flex;
    font-size: 44px;
    letter-spacing: 2px;
}
.selectSearchType {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.selectType {
    display: flex;
    align-items: center;
    background-color: #8853dd;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 20px;
    height: 25px;
    justify-content: center;
    text-decoration: none;
    width: 120px;
}
#hotelSale::after{
    display: flex;
    background-color: #72b62b;
    border-radius: 10px;
    content: "-60%";
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 15px;
    width: 37px;
}
#directionSetting {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
}
.selectSearchSettings {
    display: flex;
}
.selectSettings, .otherSelectSettings {
    display: flex;
    position: relative;
}

.selectSettings input, .otherSelectSettings input {
    border: none;
    box-sizing: border-box;
    height: 70px;
    padding: 20px;
    width: 320px;
}

.selectSettings::after {
    border-left: 2px solid #ccc;  
    content: '';
    height: 70px;
    left: 0;
    position: absolute;
    top: 0px;
    /* width: 50%;  */
}
.selectSettings:first-child::after {
    display: none; 
}
.selectSettings input:focus, .otherSelectSettings input:focus {
    border: 2px solid #ff0000;
    outline: none; 
}
.otherSelectSettings::after {
    border-left: 2px solid #ccc;  
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    top: 15px;
    /*width: 50%; */
}
#return {
    background-image: url(/image/icons/free-icon-calendar-7827944.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 22px;
}
#from {
    border-radius: 7px 0 0 7px;
    /* background-image: url(/image/icons/cycle-active.svg);
    background-position: 101%;
    background-repeat: no-repeat;
    background-size: 22px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); */
}
.selectSettings label, .otherSelectSettings label{
    font-size: 14px;
    left: 20px;
    padding: 10px 0px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
}

#departure, #return {
    width: 190px;
}
.selectSettingsPassengers {
    display: flex;
}
.selectSettingsPassengersBtn {
    background-color: white;
    border: none;
    border-radius: 0 7px 7px 0;
    display: flex;
    height: 70px;
    padding: 15px;
    position: relative;
    width: 210px;
}
.selectSettingsPassengersBtn p {
    font-size: 14px;
    margin: 0;
    text-align: left;
}
.selectSettingsPassengersBtn p strong {
    font-size: 16px;
}
.selectSettingsPassengersBtn::after{
    border-left: 2px solid #ccc;  
    content: '';
    height: 70px;
    left: 0;
    position: absolute;
    top: 0px;
}
#passengersSetting {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0.2px #ccc;
    display: none;
    flex-direction: column; 
    left: 39%;
    padding: 5px 15px;
    position: fixed;
    top: 21%;
    transform: translateX(-50%);
    
}

#searchTicket {
    align-items: center;
    background-color: #f74068;
    border-radius: 7px;
    color: white;
    display: flex; 
    font-weight: bold;
    justify-content: center;
    height: 70px;
    margin: 0 10px;
    width: 135px;
}

